body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
   font-size: 75px;
}

.header {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    background-color: #000000;
    /* padding: 30px; */
    align-items: center;
    justify-content: center;
}

.header::before {
    content: "";
    height: 100vh;
    width: 100%;
    /* display: flex; */
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: -1;
    background-image: url(../images/cowboyBebop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.header h1 {
    color: snow;
    font-size:150px;
    text-align: center;
    margin: 10px;
}
.header h2 {
    color: snow;
    font-size:55px;
    text-align: center;
    margin: 10px;
}

#navbar {
    overflow: hidden;
    background-color: #A9A9A9;
    z-index: 1;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: blue;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    background-color: lightblue;
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.project-tile{
    font-size: 40px;
    width: 100%;
    background: #008B8B;
    text-align: left;
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    position: relative;
    overflow:hidden;
}

.project-one {
    background-color: rgb(233, 12, 12);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    text-align: center;
}

.project-two { 
    background-color: gray;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    text-align: center;
}
    
.project-three {
    background-color: gray;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    text-align: center;
}
    
.project-four {
    background-color: gray;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
    text-align: center;
}

.contact{
    background-color: black;
    padding: 20px;
}

@media only screen and (max-width: 1300px) {
    .project-tile {
        background-color: black;
        color: white;
    }
    .content {
        background-color: white;
    }
}
.about-me{
    background-color: blueviolet;
    text-align: left;
}

#about-me{
    text-align: center;
}
